<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>centerCoord</key>
	<string>{42.126920,-80.087162}</string>
	<key>overlayTopLeftCoord</key>
	<string>{42.127448,-80.087648}</string>
	<key>overlayTopRightCoord</key>
	<string>{42.127448,-80.086679}</string>
	<key>overlayBottomLeftCoord</key>
	<string>{42.126375,-80.087648}</string>
	<key>overlayBottomRightCoord</key>
	<string>{42.126375, -80.086679}</string>
</dict>
</plist>
